.navbar {
    background-color: white;
}

.navbar-brand {
    font-family: Georgia, serif;
    background-color: rgb(68, 174, 174);
    padding-right: 15px;
    padding-left: 15px;
}



  h1, h2, h3, h4, h5 {
    color: rgb(68, 174, 174);
    font-family: Georgia, serif;
  }

  p {
    font: 14px Helvetica, sans-serif;
    color:rgb(113, 113, 113);
    line-height: 200%;
  }

@media (max-width: 576px) {
    .navbar {
        background-color: rgb(68, 174, 174);
    }
}

